.App {
  text-align: center;
}
.buttons{
  margin: 10px;
}
table{
  margin: auto;
}
thead th{
  background-color: gray;
  color: white; 
}
table img{
  border-radius: 5px;
}
table,th,td{
  border: 1px solid lightgray;
  border-collapse: collapse;  
  text-align: center;
  padding: 5px;
}
tbody tr{
 border-color: lightgray;
  border-radius: 20px;
  
}
table button{
  background-color: red;
  cursor:pointer;
  color:white;
  border:none;
  padding: 5px 10px;
  border-radius: 5px;
  
}

table button:hover{
  background-color: darkred;
}
.sortContactsPop-btn,.sortContactsName,.addContact-btn,.sortContactsName-btn{
  cursor:pointer;
  color:white;
  border:none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.addContact-btn{
background-color: green;

}
.addContact-btn:hover{
  background-color: darkgreen;
 
}

.sortContactsPop-btn{
  background-color: blue;

}
.sortContactsPop-btn:hover{
  background-color: darkblue;
}
.sortContactsName-btn{
  background-color: orange;
}
.sortContactsName-btn:hover{
  background-color: rgb(155, 102, 3);
}